{
  "parser": "babel-eslint",
  "extends": ["plugin:flowtype/recommended", "prettier", "airbnb-base/legacy"],
  "plugins": ["flowtype", "prettier"],
  "rules": {
    "prettier/prettier": "error",
    "linebreak-style": 0,
    "comma-dangle": ["error", "always-multiline"],
    "no-console": "warn"
  },
  "globals": {
    "document": true,
    "window": true
  }
}
